# or the graffitiwall for your preferred network
GRAFFITIWALL_URL = "https://goerli.beaconcha.in/graffitiwall"

# where you'd like the image to start
IMG_ORIGIN = (105, 760)

# size of images
IMG_SIZE = (63, 79)

# image stages: we'll try to draw from the first stage to the last, proceeding
# onto the next stage only if there are no more different pixels
#
# pixels that should be drawn should have an alpha value of 255 (i.e. fully
# opaque), so stick a white background under it or something
IMG_STAGES = [
    'stages/graffiti-lobs-stage0.png',
    'stages/graffiti-lobs-stage1.png',
    'stages/graffiti-lobs-stage2.png',
    'stages/graffiti-lobs-stage3.png',
    'stages/graffiti-lobs-final.png'
]

# short graffiti: appended after the graffitiwall directive
# should be <= 16 bytes long
GRAFFITI_SHORT = 'LH/2.5.1-df51a73'

# long graffiti: when there are no more pixels left to be drawn
# should be <= 32 bytes long
GRAFFITI_DEFAULT = 'Lighthouse/v2.5.1-df51a73'


